<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bluewater.picselectlib">

    <application>
        <provider
            android:name="com.bluewater.picselectlib.PicSelectFileProvider"
            android:authorities="${applicationId}.picselect.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/lib_picselect_paths" />
        </provider>
    </application>

</manifest>